@font-face {
  font-family: "VictorMono";
  src: url("font/VictorMono-Regular.ttf");
}

body {
  font-family: "VictorMono";
}

img {
  margin-right: 10px;
}

.main-box {
  background-color: #a09f9d;
  width: 75%;
  margin: auto;
  margin-top: 10px;
  border-radius: 25px;
}

.sub-title {
  text-align: center;
  color: white;
}

.links {
  justify-content: center;
  background-color: #4056a1;
  color: white;
  width: 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  transition: all 500ms;
}

.links:hover {
  color: rgb(182, 182, 175);
  background-color: #f13c20;
  width: 165px;
}

.link-hub {
  /* border: 2px solid grey; */
  min-width: 200px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.rowOverride {
  background-color: green;
}
